.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

h1 {
  font-size: clamp(32px, 10vw, 75px);
  font-family: "Franklin Gothic Medium";
  text-align: center;
}

.btnImagen {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

@media (max-width: 992px) {
  .btnImagen {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 768px) {
  .btnImagen {
    width: 100px;
    height: 100px;
  }
}
